**/__pycache__/
**/*.pyc

# PyCharm
.idea/
.run/
venv

# Project
**/example.sql

# Pytest
**/.pytest_cache/
**/tests/testdata/*.csv
**/tests/testdata/*.xlsb
**/tests/testdata/*.xlsx
**/tests/testdata/*.txt
**/tests/testdata/*.html

# Documentation
documents/**/*.docx
documents/*.xlsx
